.neon{
    background-color: rgba(255, 255, 255, 0.234);
    border: 1px solid rgba(255, 255, 255, 0.282);
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 8px 30px rgb(94, 94, 94);
}