

.admin{
    background-image: url(/images/icons/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 1px solid rgba(255, 255, 255, 0.29);
    box-shadow: 0px 8px 30px rgba(255, 0, 0, 0.478) ;

    width: 100%;
    height: 500px;

    display: flex;
    align-items: center;
}

.admin-form{
    padding: 10px;
    margin: 0 auto;
    max-width: min-content;
    border: 1px solid rgba(255, 255, 255, 0.281);
    background-color: rgba(255, 255, 255, 0.139);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 3px;
    margin-top: 10px;
}
