
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*  header */

.header{
    background-color: #6363633f;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__item{
    display: flex;
}

.header__nav__item  a{
    color: inherit;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 30px;
    font-size: 20px;
}

/* Слайдер */

.slider img{
    width: 300px;
    height: 300px;
}

.slider{
    background-color: #6363633f;
    margin-top: 30px;
    width: 300px;
    overflow: hidden;
    position: relative;
    height: 480px;
}

.slider__viewport{
    display: hidden;
}

.slider__wrapper{
    display: flex;
    transition: transform 0.2s ease;
}

.slider__slide{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.slider__prev, .slider__next{
    align-items: center;
    font-size: 30px;
    width: 50px;
    text-align: center;
    cursor: pointer;

}

.slider__btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


