
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*  header */

.header{
    
    background-color: #6363633f;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__item{
    display: flex;
}

.header__nav__item  a{
    color: inherit;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 30px;
    font-size: 20px;
}

/* Слайдер */

.slider img{
    width: 400px;
    height: 500px;
}

.slider{
    background-color: #6363633f;
    margin-top: 30px;
    width: 100%;
}

.slider__viewport{
    overflow: hidden;
}

.slider__wrapper{
    display: flex;
    transition: transform 0.2s ease;
}

.slider__slide {
        min-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.slider__content{
    max-width: 300px;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__prev, .slider__next{
    align-items: center;
    font-size: 30px;
    width: 50px;
    text-align: center;
    cursor: pointer;

}

.slider__btn{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/* Преимущества  Инфографика*/

@keyframes blur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

.advantages{
    display:flex;
    justify-content: center;
    margin: 40px auto;
    animation-name: blur;
    animation-duration: 2s;
}

.advantages__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}

.advantages__item img{
    transition: transform 0.4s ease;
}

.advantages__item:hover  img{
transform: translateY(-10px);
}


/* Поиск*/

.search{
    margin-top: 40px;
    width: 350px;
}

.search input{
    font-size: 20px;
    background-color: #6363633f;
    color: white;
    text-align: center;
}

.search button{
    background-color: #6363633f;
    color: white;
    padding: 10px;
}
.search__menu{
    display: flex;
    justify-content: space-between;
}

/* Лента игр*/

.game__rating{
    display: flex;
}
.game__rating img{
    width: 10px;
}

.game__view{
    width: 100%;
    background-color: #f0efef1f;
    box-shadow: 0px 0px 10px 10px #cacaca3f;
    display: grid;
    justify-content: center;
}

.game__image{
    width: 200px;
    height: 300px;
}

.game__information{

    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
.game__information a{
    background-color:#a5a5a53f ;
    padding: 5px 10px;
    box-shadow: 0 0 0 0 #99999996;
    margin-top: 10px;
    transition: 0.4s ease;
}

.game__information a:hover{
    background-color:#383838d8 ;
     box-shadow: 0 0 10px 5px #2e2e2e96;
}

.game__card{
    width: 250px;
}


/* Футер*/



.footer__view{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__parthners{
    display: flex;
    justify-content:space-around;
    margin: 40px;
}
.footer__menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
