.login{
    margin: 300px auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/images//icons/background.jpg);
    background-size:cover;
    background-position: center;

}

.login__box{
    width: auto;
    padding: 40px;
    background-color: rgba(194, 12, 12, 0.224);
    border: 1px solid rgba(129, 129, 129, 0.576);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__form input{
    color: white;
    background-color: rgba(238, 5, 5, 0.192);
}

.btn{
    margin: 10px;
    color: white;
    padding: 3px;
    backdrop-filter: blur(20px);
    background-color: rgba(240, 248, 255, 0.192);
    border: 1px solid rgba(255, 255, 255, 0.233);
    transition: 0.4s ease;
    cursor: pointer;
}

.btn:hover{
    background-color:   rgba(240, 248, 255, 0);
}